 span b {
    padding-right: 10px;
}
span u {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
ion-button ion-text h6 {
    font-size: 12px;
    padding-right: 10px;
}

ion-card-content h3{
    font-size: 20px;
}
.language{
    font-size: 18px;
    padding-bottom: 10px;
}
ion-card-title{
    font-size: 25px;
}