<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>writing-game11</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2>Please translate this word into Latvian: <i><b>"{{foundedWord.wordENG}}"</b></i></h2>
        <form onsubmit="processForm(event)">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
            </ion-item>
          </ion-list>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="onClick()">Create account</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>